@charset "utf-8";

body {
    background-color: #eeeeee;
}

h2 {
    text-align: center;
    padding: 50px 0;
    color: #1a6f47;

}

.container {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
    gap: 20px;

}

.box {

    width: 100%;
    padding-bottom: 5px;
    background-color: white;
}

.desc p {
    padding: 0 5px;
    line-height: 1.5rem;
    margin: 5 5px;
}

h3 {
    border-left: 8px solid #1a6f47;
    margin: 5px;
    color: #1a6f47;
    padding-left: 5px;
    margin: 11px 12px
}

.txt {
    padding: 8%;
}

@media screen and (max-width: 400px) {
    .container {
        flex-direction: column;
    }

    .box {
        height: auto;
    }

    img {
        width: 100%;
    }
}