@charset "utf-8";

/* ヘッダー */
body {
    background-color: #e8d9bf;

}

.header_slider img {
    width: 100%;
}


header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav li {
    width: 105px;
    text-align: center;
    color: white;

    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.text {
    text-align: center;
}

.text p:first-child {
    font-size: 30px;
    margin: 100px 0 37px 0;

}

.text p:nth-child(2) {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin: 22.5px 0 25px 0;

}

.text p:last-child {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

/* main */
/* about us */

#about {
    padding-right: 10px;
    padding-left: 10px;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.about-image {
    width: 50%;
    border-bottom-right-radius: 82px;
    margin: 93px 93px 0px 0px;

}

.desc {
    width: 41%;
}

.about-title {
    vertical-align: middle;
    width: 272px;
    height: 77px;
    margin: 56px 0px 47px 0;
}

.text-box p:first-child {
    font-size: 44px;
    line-height: 1.38;
    margin-bottom: 23px;
}

.text-box p:last-child {
    font-size: 16px;
    line-height: 1.62;


}

/* menu */
#menu {
    padding-left: 10px;
    padding-right: 10px;


}

.menu-title {
    display: block;
    width: 151px;
    margin: 95px auto 39px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;

}

.menu-box div {
    position: relative;

}

.menu-box {
    width: 30%;
}




.menu-image {
    border-top-right-radius: 41px;
    width: 100%;
}

.menu-box h3 {
    position: absolute;
    top: 92%;
    left: 12px;
    color: #d30202;
    font-size: 38px;

}

.menu-txt {
    font-size: 17px;
    line-height: 1.47;
    margin: 43px auto;
}

/* gallery */
.gallery-title {
    display: block;
    width: 245px;
    margin: 85px auto 16px;
}

.gallery-container {
    display: flex;
    width: 100%;
    height: auto;

}

.gallery-container img {
    width: 20%;
    height: auto;
    object-fit: cover;
}


/* event */

#event {
    padding-left: 10px;
    padding-right: 10px;
}

.event-title {
    display: flex;
    width: 173px;
    margin: 59px auto 30px;
}

.event-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    padding: 37px 10px;

    background-color: #ffffff;
    border: 3.6px solid #4f260b;
}

.event-list {
    display: flex;
    font-size: 23px;
    line-height: 1.95;
    align-items: center;


}

.date {
    white-space: nowrap;
    margin-right: 54px;
}

.content {
    border-bottom: solid #4f260b;
    padding-bottom: 0;
    line-height: 1;
}

/* access */
.access-title {
    display: flex;
    justify-content: center;
    width: 213px;
    margin: 78px auto 36px;

}

.access-map iframe {
    display: block;
    width: 100%;
    height: 470px;

}


/* footer */
footer {
    background-color: #ffffff;
    padding-bottom: 74px;

}

.footer-container {
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 82px;
    color: #000000;


}

.footer-logo {
    width: 226px;
    height: auto;
    font-size: 52px;
    padding-left: 10px;
}


.footer-txt p {
    font-size: 20px;
    margin-left: 64px;
    line-height: 1.95;
    color: #000000;
    text-align: left;
}

.copy {
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-top: 74px;
}

.page-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

/* 
修正終えましたので、ご確認よろしくお願いいたします。そしていつも分かりやすく添削いただきありがとうございます！先生の説明を聞き、わかったぞ！と思いながら自分でやってみようとすると、どうだったかな？眉間に皺を寄せてます。
コーディングを独学でするには骨が折れるなと本当に思いました。 

マップのキッザニア福岡には行ったことがなくて今年中に子どもたちに職業体験をさせてあげたいなぁと計画しています！何か自分の好きなことを見つけられるきっかけになったらいいなと思ってます*/