@charset "utf-8";

/* ヘッダー */
body {
    background-color: #e8d9bf;

}

.header_slider img {
    width: 100%;
}


header {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7% 0 3%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 227px;
}

.pc_nav ul {
    display: flex;
    gap: 54px;
}

.pc_nav li {
    width: 105px;
    text-align: center;
    color: white;

    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* スマホ版メニュー */

.sp_nav,
.sp_btn {
    display: none;
}

/* メニューとロゴがぶつかる直前のタイミング */
@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }

    /* ハンバーガーボタン */
    .sp_btn {
        display: block;
        height: 23px;
        cursor: pointer;
        /* 位置の調整 */
        position: absolute;
        top: 23px;
        right: 25px;
        /* 重なり具合 */
        z-index: 2;

    }

    .sp_btn span {
        display: block;
        width: 33px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: '';
        display: block;
        width: 33px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* ばつ印 */
    .sp_btn.open span {
        background-color: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        /* 重なり具合 */
        z-index: 1;

    }

    .sp_nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 40px;
    }

    .sp_nav ul li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
            "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
        font-size: 18px;
        font-weight: bold;
    }
}

/* サブテキスト */

.text {
    text-align: center;
}



.text p:first-child {
    font-size: 30px;
    margin: 100px 0 37px 0;

}

.text p:nth-child(2) {
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
    margin: 22.5px 0 25px 0;

}

.text p:last-child {
    font-size: 23px;
    line-height: 1.65;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1100px) {
    .text p:first-child {
        font-size: 17px;
    }
}

@media screen and (max-width: 1100px) {
    .text p:nth-child(2) {
        font-size: 38px;
    }
}

@media screen and (max-width: 1100px) {
    .text p:last-child {
        font-size: 16px;
    }
}

/* 上の記述で合ってますでしょうか... */

/* PC版では改行しない */
.sp-br {
    display: none;
}

/* main */
/* about us */

/* #about {
    
} */

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;


}

.about-image {
    width: 50%;
    border-bottom-right-radius: 82px;
    margin: 93px 93px 0px 0px;

}

.desc {
    width: 41%;
}


.about-title {
    vertical-align: middle;
    width: 272px;
    height: 77px;
    margin: 56px 0px 47px 0;
}

.text-box {
    padding-right: 10px;
    padding-left: 10px;
}

.text-box p:first-child {
    font-size: 44px;
    line-height: 1.38;
    margin-bottom: 23px;
}

.text-box p:last-child {
    font-size: 16px;
    line-height: 1.62;


}

/* menu */
#menu {
    padding-left: 10px;
    padding-right: 10px;


}

.menu-title {
    display: block;
    width: 151px;
    margin: 39px auto 39px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;

}

.menu-box div {
    position: relative;

}

.menu-box {
    width: 30%;
}




.menu-image {
    border-top-right-radius: 41px;
    width: 100%;
}

.menu-box h3 {
    position: absolute;
    top: 92%;
    left: 12px;
    color: #d30202;
    font-size: 38px;

}

.menu-txt {
    font-size: 17px;
    line-height: 1.47;
    margin: 43px auto;
}

/* gallery */
.gallery-title {
    display: block;
    width: 245px;
    margin: 85px auto 16px;
}

.gallery-container {
    display: flex;
    width: 100%;
    height: auto;


}

.gallery-container img {
    width: 20%;
    height: auto;
    object-fit: cover;
}


/* event */

#event {
    padding-left: 10px;
    padding-right: 10px;
}

.event-title {
    display: flex;
    width: 173px;
    margin: 26px auto 30px;
}

.event-container {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    padding: 37px 10px;

    background-color: #ffffff;
    border: 3.6px solid #4f260b;
}

.event-list {
    display: flex;
    font-size: 23px;
    line-height: 1.95;
    align-items: center;


}

.date {
    white-space: nowrap;
    margin-right: 54px;
}

.content {
    border-bottom: solid #4f260b;
    padding-bottom: 0;
    line-height: 1;
}

/* access */
.access-title {
    display: flex;
    justify-content: center;
    width: 213px;
    margin: 78px auto 36px;

}

.access-map iframe {
    display: block;
    width: 100%;
    height: 470px;

}


/* footer */
footer {
    background-color: #ffffff;
    padding-bottom: 74px;

}

.footer-container {
    max-width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding-top: 82px;
    color: #000000;


}

.footer-logo {
    width: 226px;
    height: auto;
    font-size: 52px;
}


.footer-txt p {
    font-size: 20px;
    margin-left: 64px;
    line-height: 1.95;
    color: #000000;
    text-align: left;
}

.copy {
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-top: 74px;
}

.page-top {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

@media screen and (max-width: 767px) {
    .header {
        height: 650px;
    }

    /* サブテキスト */
    .text p:first-child {
        font-size: 17px;
        margin: 41px 0 0 0;
        padding: 0 38;

    }

    .text p:nth-child(2) {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        margin: 22px 0 0 0;

    }

    .text p:last-child {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.1em;
        padding: 0 19;
        margin-top: 26px;
    }

    /* SP版では改行 */
    .sp-br {
        display: inline;
    }

    /* ABOUT */
    .about-container {
        max-width: 100%;
        object-fit: cover;
        flex-direction: column;

    }

    .about-image {
        display: block;
        border-radius: 0;
        width: 100%;
        height: auto;
        margin: 0;

    }

    .about-title {
        display: block;
        justify-content: center;
        margin-top: 53px;
        margin-bottom: 11px;
        width: 160px;
        height: 45px;

    }

    .desc {
        width: 100%;
        padding: 0 20;
        display: contents;
    }


    .text-box p:first-child {
        font-size: 36px;
        line-height: 1.25;
        margin-top: 34px;
        margin-bottom: 19px;
    }

    .text-box p:last-child {
        font-size: 16px;
        line-height: 1.75;
        margin: 0 0 10px 0;
    }

    /* MENU */
    .menu-title {
        width: 87px;
        margin-bottom: 17px;
    }

    .menu-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .menu-box {
        width: 80%;
    }

    .menu-box h3 {
        font-size: 40px;
        top: 95%;
    }

    .menu-txt {
        line-height: 1.59;
    }

    /* GALLERY */
    .gallery-title {
        width: 142px;
        margin-top: 43px;
        margin-bottom: 15px;

    }

    .gallery-container {
        display: block;

    }

    .gallery-container img {
        width: 100%;
        display: none;
    }

    .gallery-container img:first-child {
        display: block;
        margin-bottom: 26px;
    }

    /* EVENT */
    .event-title {
        display: block;
        width: 100px;
        height: auto;
        margin-bottom: 15px;
    }

    .event-container {
        padding-left: 26px;

    }

    .event-box {
        width: 100%;
    }

    .event-list {
        flex-direction: column;
        align-items: flex-start;
        font-size: 16px;
    }

    .content {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 15px;
    }

    /* ACCESS */
    .access-title {
        display: block;
        width: 124px;
        height: auto;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .access-map iframe {
        height: 191px;

    }

    /* FOOTER */
    footer {
        padding-bottom: 26px;

    }

    .footer-container {
        display: block;
        max-width: 100%;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 20px;


    }

    .footer-txt p {
        font-size: 18px;
        line-height: 1.72;
        margin: 0;
        margin-top: 26px;
    }

    .copy {
        margin-top: 39px;
    }

    .page-top {
        width: 100px;
    }
}



/* 
①今回のカフェサイトの場合、ロゴとナビゲーションが横並びになっているので画面幅が狭くなったときにデザインが崩れるタイミングが分かりやすかったのですが、他にデザインが崩れる場合の例をいくつか知りたいです。

②about usの箇所のpc版の写真をスマホ版にしていたことに気づき、pc版に差し替えたところ何故かpc版の画像が小さく表示されてしまいます。何故でしょうか..

③orderを使用する際に、h2に対して使用するのは分かったのですが、実際にコードを書く際にどのように書いたら良いかわからなくなってしまいました。今回は、HTMLのh2に直接styleをつけてorderを使用しましたが、style.cssに書く際の書き方も教えていただきたいです。

 jQueryの$(function() ←のカッコは飾りみたいなものでしょうか？
 
 間が空いた状態での課題修正だったので時間がある時にもう一度一からやってみようと思います。
 修正の添削よろしくお願いいたします。*/