@charset "utf-8";

.box {
    height: 300px;
    width: 30%;
    background-color: blue;
    gap: 20px;
}

.container {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    margin: 0 auto;
}

.item {
    height: 300px;
    width: 30%;
    background-color: red;


}

.wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    justify-content: space-between;
    margin: 20px auto;
    gap: 20px;

}

.header {
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav li {
    /* position: relative; */
    padding: 5px 30px;
    font-size: 14px;
}

.nav li:not(:last-child) {
    border-right: 1px solid #444;
}

@media screen and (max-width: 767px) {
    .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 10px;
    }

    nav {
        width: 100%;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav li {
        align-items: flex-start;
        padding: 10px 0;
        border-bottom: 1px solid #444;
    }

    .nav li:not(:last-child) {
        border-right: none;
    }
}

/* paddingやmarginに対して％を使用することはありますか？ */